body {
}

/* menu bar */
.menu-bar{

}
.menu-bar .sidenav{
    right: 0;
}
nav .menu-bar .brand-logo{
    color: #000;
}
/* .menu-bar .sidenav-trigger{
    float: right;
} */
.menu-bar nav a{
    color: #000;
}
.menu-bar .nav-wrapper{
    background-color: transparent;
}
.menu-bar nav i.material-icons{
    line-height: 2.7;
}
.menu-bar .btn{
    webkit-box-shadow: none;
    box-shadow: none;
}
.menu-bar ul li{
    text-transform: uppercase;
}

/* banner */
.bnr{
    position: relative;
    top: -70;
}
.bnr h1 { 
    position: absolute; 
    top: 200px; 
    left: 0; 
    width: 100%;
    text-align: center; 
    font-size: 120px;
    font-weight: 700;
    color: #fff;
    font-family: "Roboto Condensed", Arial, sans-serif;
 }
 .bnr h2 {
     position: absolute;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-family: "Roboto Condensed", Arial, sans-serif;
    color: #fff;
    top: 50%; 
    left: 0; 
    width: 100%;
    text-align: center; 
}
.bnr h2 span {
    position: relative;
}
.bnr .row .col{
    padding: 0;
}
.bnr img{
    height: 100%;
    width: 100%;
}
.bnr .slick-slide{
    height: 100%;
}
.bnr .slick-next{
    right: 25px;
    z-index: 100;
}
.bnr .slick-prev{
    left: 25px;
    z-index: 100;
}
.bnr .overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    opacity: .6;
    width: 50%;
    height: 100%;
    background: #f1b8c4;
}
.bnr .banner-title{ 
        position: absolute;
        bottom: 20px;
        right: 20px;
        background-color: black;
        color: white;
        padding-left: 20px;
        padding-right: 20px;
      
}
.mouse {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 8em;
    z-index: 99;
}
.mouse-icon {
    width: 60px;
    height: 60px;
    border: 1px solid rgba(255, 255, 255, 0.7);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    position: relative;
    text-align: center;
    margin: 0 auto;
    display: block;
}
.mouse-wheel {
    height: 30px;
    margin: 2px auto 0;
    display: block;
    width: 30px;
    background: transparent;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    -webkit-animation: 1.6s ease infinite wheel-up-down;
    -moz-animation: 1.6s ease infinite wheel-up-down;
    animation: 1.6s ease infinite wheel-up-down;
    color: #000000;
    font-size: 20px; 
}
@-webkit-keyframes wheel-up-down {
    0% {
      margin-top: 2px;
      opacity: 1; }
    30% {
      opacity: 1; }
    100% {
      margin-top: 20px;
      opacity: 0; } }
  
  @-moz-keyframes wheel-up-down {
    0% {
      margin-top: 2px;
      opacity: 1; }
    30% {
      opacity: 1; }
    100% {
      margin-top: 20px;
      opacity: 0; } }
  
  @keyframes wheel-up-down {
    0% {
      margin-top: 2px;
      opacity: 1; }
    30% {
      opacity: 1; }
    100% {
      margin-top: 20px;
      opacity: 0; } }
/* our products */
.hom-products{

}
.hom-products .card .card-content{
    padding: 0 0 0 8px;
}
.hom-products .card .card-content .card-title{
    margin-bottom: 0px;
}
.hom-products .card .card-title {
    font-size: 18px;
    font-weight: 600;
}
/* trending */
.hom-trends .slick-slide{
height: auto !important;
}
.hom-trends .card .card-image .card-title{
    font-size: 18px;
    font-weight: 600;
    color: #000;
    background-color: #fff;
    right: 0;
    margin: 20px 40px;
    padding: 2px;
    text-align: center;
}
/* fashion */
.fashion{

}
.fashion img{
    width: 100%;
}
.fashion .fashion-title h3{
    font-weight: 700;
    font-size: 60px;
}
.fashion .fashion-title p{
    font-weight: 600;
    font-size: 18px;
}

/* season sale */
.season-sale .container{
position: relative;
}
.season-sale .sale-img img{
width: 100%;
}
.season-sale .sale-txt {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
font-size: 120px;
font-weight: 700;
  }

  /* testimony */

  .testimony-slid img{
    height: 100%;
    border-radius: 50%;
  }
  .testimony-slid .testimony-image{
    border-radius: 50%;
    overflow : hidden;
    height: 25%;
}
.testimony-slid .testimony-cntr{
text-align: -webkit-center;
}
.testimony-slid .testimony-ht{
    height: auto;
} 
.testimony-slid .card-title {
    font-size: 18px;
    font-weight: 600;
}

/* brands */
.brands{
    background-color: #141414;
}
.brands .slick-slide{
    height: auto;
}
/* footer */
.footer-sec .page-footer{
    background-color: #000;
}
.footer-sec .page-footer .input-field.inline{
    display: inline-flex;
    width: 100%;
}
.footer-sec .page-footer #email_inline{
    height: 36px;
    border-bottom: none;
    background-color: #676565cc;
    box-shadow: none;
    padding-left: 5px;
}
.footer-sec .page-footer .email-label{
    margin: -6px 10px 0px 10px;
}
.footer-sec .page-footer .btn{
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #ee404c;
    border-radius: 0;
}
.footer-sec .page-footer .input-field.inline{
    margin-left: 0;
}
.footer-sec .page-footer .social-icon-pd{
    padding-right: 15px;
    font-size: 18px;
    color: #fff;
}
.footer-sec .footer-copyright{
    text-align: center;
}
.payments{
    margin: 14px 0;
}
  /* @media queries */

/* banner title */
  @media (max-width: 991px){
    .bnr h1 {
      font-size: 50px;
      }
      .bnr h2 {
        font-size: 20px;
      }
  }
  /* season sale */
  @media (max-width: 991px){
  .season-sale .sale-txt {
    font-size: 50px;
    }
}
@media only screen and (min-width: 601px){

}